/* form defaults. Recommended by Mozilla MDN */
button,
input,
select,
textarea {
  font-family : inherit;
  font-size : 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

label {
  padding-right: 5px;
}

#root {
  font-size: 1.2rem;
  padding: 10px 20px 0px 20px;
}

/* Header */
a {
  text-decoration: none;
}

.active,
.heading {
  font-weight: bold;
}

.logout {
  cursor: pointer;
}

/* Create, Login forms */
.type {
  text-transform: capitalize;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  /* transform: translateY(5vh); */
}

.box_center {
  margin: 0 auto;
}

.sameRow {
  display: flex;
  justify-content: space-between;
}

.sideBySide {
  display: flex;
}

.successMsg {
  color: green;
}

.errorMsg {
  color: red;
}

dl {
  border: 1px solid grey;
  margin-top: 0px;
  padding: 5px;
}