/* form defaults. Recommended by Mozilla MDN */
button,
input,
select,
textarea {
  font-family : inherit;
  font-size : 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

input, textarea {
  padding: 3px;
}

label {
  padding-right: 5px;
}

#root {
  font-size: 1.2rem;
  padding: 10px 20px 0px 20px;
}

/* Header */
a {
  text-decoration: none;
}

.active,
.heading {
  font-weight: bold;
}

.logout {
  cursor: pointer;
}

/* Create, Login forms */
.type {
  text-transform: capitalize;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  /* transform: translateY(5vh); */
}

.search {
  margin-top: 10px;
  margin-right: 10px;
}

.box_center {
  margin: 0 auto;
}

.sameRow {
  display: flex;
  justify-content: space-between;
}

.sideBySide {
  display: flex;
}

.successMsg {
  color: green;
}

.errorMsg {
  color: red;
}

/* Browse Page */
.wrap {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

.list-item {
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.list-item-button {
  float: right;
  margin-left: 10px;
}

.list-item p {
  margin: 0px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  img {
    width: 100px;
    height: 100px;
  }
  .list-item div {
    display: flex;
    flex-direction: column;
  }
  table td  { list-style: none; display: list-item; }
  td.empty { display: none; }
  table thead { display: none; }
}

@media screen and (max-width: 800px) {
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Cart */
img.cart {
  width: 80px;
  height: 80px;
}

.cart-buttons {
  display: inline-flex;
}

button.cart {
  margin-top: 8px;
  width: 30px;
  height: 30px;
}

button.cart img {
  width: 16px;
  height: 16px;
  margin-right: 0px; /* clear marign for img tag */
  /* margin-left: -4px; */
  vertical-align: middle;
}

span.cart {
  margin-right: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}

table.cart tbody td:nth-child(1) {
  width: 15%;
}

table.cart tbody td:nth-child(3) {
  width: 30%;
}

table.cart tbody td:nth-child(6) {
  width: 10%;
  text-align: end;
}

table.order th,
table.order td {
  text-align: start;
}

table.order thead th:last-child,
table.order tbody td:last-child {
  width: 10%;
  text-align: end;
}

tr {
  border: 1px solid grey;
}

th, td {
  padding: 10px;
  text-overflow: ellipsis;
}
