/* form defaults. Recommended by Mozilla MDN */
button,
input,
select,
textarea {
  font-family : inherit;
  font-size : 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

input, textarea {
  padding: 3px;
}

label {
  padding-right: 5px;
}

#root {
  font-size: 1.2rem;
  padding: 10px 20px 0px 20px;
}

/* Header */
a {
  text-decoration: none;
}

.active,
.heading {
  font-weight: bold;
}

.logout {
  cursor: pointer;
}

/* Create, Login forms */
.type {
  text-transform: capitalize;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  /* transform: translateY(5vh); */
}

.box_center {
  margin: 0 auto;
}

.sameRow {
  display: flex;
  justify-content: space-between;
}

.sideBySide {
  display: flex;
}

.successMsg {
  color: green;
}

.errorMsg {
  color: red;
}

/* Browse Page */
.list-item {
  border: 1px solid grey;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.list-item-button {
  float: right;
  margin-left: 10px;
}

.list-item p {
  margin: 0px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 10px;
}